INFLUX_HOST=10.48.0.3
INFLUX_DATABASE=publicstats
INFLUX_USERNAME=telegraf
INFLUX_PASSWORD=

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=

FACEBOOK_APPID=
FACEBOOK_APPSECRET=
FACEBOOK_ACCESSTOKEN=

